        <div class="header_1">
            <div class = "header-logo" onclick="navigateToPost('/main')"></div>   
            <div class = "header-text"> Cache Simulator (Full Associative / LRU) </div>
        </div>

