.header_1 {
    margin-top: 5px;
    height: 50px;
    width: 100%; 
    background-color: white;
    box-shadow: 0px 4px 5px -4px #C1ACBA;
    display: flex;
    align-items: center;
}

.header-logo {
    margin-left: 10px;
    width: 60px;
    height: 46px;
    background-image: url('Memory.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.header-text {
    font-size: 150%;
}

body {
    border: none !important;
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

header {
    height: 50px;
    border: none !important;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    min-height: calc(100vh - 55px);
    box-sizing: border-box;
    background-color: #04522d;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#block-size, #mm-size, #cache-size, #program-flow, #miss-penalty {
    padding: 6px;
}

.input-section, .result-display {
    font-size:14px !important;
    background-color: #ffffff;
    color: #333333;
    padding: 10px;
    padding-top:3px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px -4px #C1ACBA;
    width: 80%;
    max-width: 800px;
    margin-bottom: 10px;
}

.result-display{
    display: none;
}
.result-display h2 {
    margin-bottom:5px; 
    margin-top: 2px;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #04522d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

button:hover {
    background-color: #03391e;
}

pre {
    font-size:12px;
    margin:0;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-top:-10px;
}

.input-output {
    width: 40%;
    margin-left: 0;
    padding:0;
}
.simul {
    width: 60%;
    margin-right: 0;
    display:flex;
}

.simulation-body{
    width:100%;
    height:100%;
    display:flex;
}

.input-with-button {
    display: flex;
    align-items: center;
}

.input-with-button input {
    width:80%;
    margin-right: 10px;
    padding:6px;
}
.input-with-button button {
    width:20%;
    padding: 6px;
    margin:0px;
}

#program-flow-display{
    font-size:10px;
}

.box {
    flex: 1;
    margin: 10px;
    border: 1px solid #000;
    padding: 10px;
    overflow-y: auto;
}

.left-box {
    flex: 1;
    margin-right: 10px;
    border: 1px solid #000;
    background-color: #04522d;
    padding: 10px;
    box-sizing: border-box;
}

#cache-table {
    width: 100%;
    border-collapse: collapse;
}

#cache-table th, #cache-table td {
    border: 1px solid #04522d;
    padding: 8px;
    text-align: left;
}

#memory-block {
    border: 1px solid #000;
    background-color: #04522d;
    padding: 10px;
    box-sizing: border-box;
}

.memory-table {
    border: 1px solid #000;
    background-color: #04522d;
    width: 100%;
    border-collapse: collapse;
}

.memory-table th, .memory-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    color: white;
}

.memory-table th {
    color: white;
}

.highlight {
    background-color: rgb(10, 62, 30); /* Change this to the color you prefer */
}